* {
  word-break: break-word;
  overflow-wrap: break-word;
}

blockquote {
  margin-left: 1.5em;
  padding-left: 1em;
  font-size: 90%;
  border-left: 4px solid rgb(200, 200, 200);
}

pre {
  border: 1px solid #bbb;
  padding: 0.75rem 1rem;
  border-radius: 0.3rem;
}

pre code {
  word-wrap: normal;
}

.small p {
  margin-bottom: 0.6rem;
}

.ProseMirror li p,
.rendered-content li p {
  margin-bottom: 0.5rem;
}

/* https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14 */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}

.btn-tiny {
  padding: 0.125rem 0.25rem;
  font-size: 0.5rem;
  opacity: 50%;
}

.ProseMirror {
  height: auto;
  max-width: 40rem;
}

.ProseMirror:after {
  font-size: 0.7rem;
  color: #999;
  width: 100%;
  display: block;
  text-align: right;
  content: "Markdown, ⌘B ⌘I are OK; ⌘E for code; ⇧⏎ quits code blocks";
}

#inbox-badge {
  bottom: 2px;
  position: relative;
}

.woc-board-private,
.woc-card-private,
.woc-card-update-private {
  background-color: #efefef;
}

.woc-card-update {
  padding: 0.5rem 1rem;
  max-width: 40rem;
  border-radius: 5px;
}

.woc-card-update-private {
  margin-bottom: 1rem; /* Only for private ones! We don't want them to stick together. */
}
