blockquote {
  margin-left: 1.5em;
}

pre {
  border: 1px solid #bbb;
  padding: 0.75rem 1rem;
  border-radius: 0.3rem;
}

.ProseMirror li p,
.rendered-content li p {
  margin-bottom: 0.5rem;
}

/* https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14 */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}

.btn-tiny {
  padding: 0.125rem 0.25rem;
  font-size: 0.5rem;
  opacity: 50%;
}

.ProseMirror {
  height: auto;
  max-width: 40rem;
}

.ProseMirror:after {
  font-size: 0.7rem;
  color: #999;
  width: 100%;
  display: block;
  text-align: right;
  white-space: pre;
  content: "Markdown, ⌘B ⌘I are OK; ⌘E for code; ⇧⏎ quits code blocks";
}

#inbox-badge {
  bottom: 2px;
  position: relative;
}
