blockquote {
  margin-left: 1.5em;
}

/* https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14 */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}

.btn-tiny {
  padding: 0.125rem 0.25rem;
  font-size: 0.5rem;
  opacity: 50%;
}
